<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "css/form.css" %}">
  <script src="{% static 'js/check_form.js' %}"></script>
</head>

<body>
  <form class="form" action="" method="post" >
    <div class="form_title">Приветствуем</div>
    <div class="subtitle">Оставьте заявку, и мы свяжемся с вами!</div>

    {% csrf_token %}

   <div class="input-container ic1">
    <label class="input" >{{form.name.label}}</label> {{form.name}}
    </div>
    <div class="input-container ic2">
      <label class='input' >{{form.surname.label}}</label>{{form.surname}}
    </div>
    <div class="input-container ic2">
      <label class='input' >{{form.email.label}}</label>{{form.email}}
    </div>
    <div class="data_agree">
      <label class='input' >{{form.agreement_check.label}}</label>{{form.agreement_check}}
    </div>
    <input type="submit" class="send_button" value='ОТПРАВИТЬ'>
  </form>
</body>

</html>

